h1 {
    color: #fb0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #fb0;
    font-weight: bolder;
}

td {
    background-color: #808080;
}

label {
    display: block;
    margin-bottom: 14px;
}

fieldset {
    margin-bottom: 10px;
}

table {
    width: 75%;
    margin: auto;
} 

caption {
    text-align: center;
    margin-bottom: 10px;
}

a:hover {
    color: #fb0;
}


div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    width: 200px;
    /* source of image used https://upload.wikimedia.org/wikipedia/commons/6/69/Towson_University_logo_horiz_2019.png */
}